<div style="text-align:center;">
<h2 style="text-align:center;">
  Welcome to Oslr!
</h2>

<p>
  Your confirmation code:
</p>

<h2 style="text-align:center;">
  <%= @email_account.confirmation_code %>
</h2>


<p>
  You're receiving this email because someone has registered this email address with Oslr.
  Enter this code to confirm that you own this account and start using Oslr today.
</p>
</div>
