A new password has been requested for your Oslr account.

Your new password is:

<p>
  <b><%= @password %></b>
</p>

You can log in through our apps or at <%= link_to "http://app.oslr.co.uk", "http://app.oslr.co.uk" %>.
